@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 10% 10%; /* 10% top and bot, 10% left and right */
  user-select: none; /* So we cant select stuff on website */
}

.index-header h1 {
  color: #e86933;
}

.jumbotron {
  margin: 2%;
  background-color: #e8693346;
}

.cart-icon {
  color: #b8621bcb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.buttons a {
  background-color: #e8693346;
}

.buttons button {
  background-color: #e8693346;
}

.back-btn {
  margin-right: 3%;
}

.listan {
  width: 100%;
}

.jumbo-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-flow: row wrap;
}

.jumbo-head img {
  width: auto;
  height: 40px;
}

.listan li {
  font-size: 1.2rem;
  list-style: none;
  margin: 5% 10%;
}

.listan i {
  font-size: 1.2rem;
  color: #b8621b;
}

.jumbo-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card {
  background-color: #e8693346;
  border-color: rgba(0, 0, 0, 0.692);
}

.card-body {
  background-color: #fff;
}

.card-header {
  border-color: rgba(30, 30, 31, 0.692);
}

.card-footer {
  border-color: rgba(30, 30, 31, 0.692);
}

/* Media Queries */
/* On screens that are 770px or less */
@media screen and (max-width: 990px) {
  body {
    margin-top: 20%;
  }

  .card {
    margin: 8% 5%;
  }

  .jumbo-head img {
    width: auto;
    height: 40px;
  }
}
